<h2 mat-dialog-title>Add an event</h2>
<div mat-dialog-content>
  <form class="add-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input name="title" matInput placeholder="Title" [(ngModel)]="event.title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select name="type" [(ngModel)]="event.type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Party</mat-label>
      <mat-selection-list #partyList name="party" [(ngModel)]="selectedCharacters">
        <mat-list-option *ngFor="let character of characters" [value]="character">
          {{ character }}
        </mat-list-option>
      </mat-selection-list>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Text</mat-label>
      <textarea name="text" matInput [(ngModel)]="event.text" placeholder="What happened..."></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="close(true)" cdkFocusInitial>Save</button>
</div>