<h2 mat-dialog-title>Event...</h2>
<div mat-dialog-content>
  <form class="add-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input name="title" matInput placeholder="Title" [(ngModel)]="event.title" />
    </mat-form-field>

    <mat-form-field style="width:50%;">
      <mat-label>Type</mat-label>
      <mat-select name="type" [(ngModel)]="event.type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width:50%;">
      <mat-label>Event ID</mat-label>
      <input name="id" matInput placeholder="id" [(ngModel)]="event.eventId" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Party members</mat-label>
      <input matInput disabled [value]="event.party">
      <mat-selection-list #partyList name="party" [(ngModel)]="event.party">
        <mat-list-option matInput *ngFor="let character of characters" [value]="character">
          {{ character }}
        </mat-list-option>
      </mat-selection-list>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Icon</mat-label>
      <input matInput [value]="event.icon" disabled>
      <img [src]="'https://mastertom.nl/img/gloomhaven/icon-' + event.icon + '.png'" style="width:32px;" *ngIf="event.icon">
      <br />
      <mat-radio-group name="icon" [(ngModel)]="event.icon" style="clear:both;">
        <mat-radio-button *ngFor="let icon of icons" [value]="icon">{{ icon}}</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Text</mat-label>
      <textarea name="text" matInput rows="10" [(ngModel)]="event.text" placeholder="What happened..."></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="event.type in ['city','road']">
      <mat-label>Choice</mat-label>
      <textarea name="choice" matInput rows="2" placeholder="choice" [(ngModel)]="event.choice"></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="event.type in ['city','road']">
      <mat-label>Outcome</mat-label>
      <textarea name="outcome" matInput rows="3" placeholder="Outcome" [(ngModel)]="event.outcome"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Summary</mat-label>
      <textarea name="summary" matInput rows="3" placeholder="Summary" [(ngModel)]="event.summary"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="close(true)" cdkFocusInitial>Save</button>
</div>