<section id="adventurers">
  <h1>
    Meet our adventurers
    <button mat-icon-button class="add-button" (click)="addCharacter()" *ngIf="isAdmin()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </h1>
  <article class="char" *ngFor="let char of characters">
    <img [src]="'https://mastertom.nl/img/gloomhaven/class-avatars/'+(char.class|lowercase)+'.png'" class="char-img" alt="{{ char.name }}">
    <div class="char-details">
      <h2 class="char-name">
        {{ char.name }}
        <button mat-icon-button class="edit-icon" (click)="edit(char)" *ngIf="isAdmin()">
          <mat-icon>edit</mat-icon>
        </button>
      </h2>
      <img [src]="'https://mastertom.nl/img/gloomhaven/class-icons/'+(char.class|lowercase)+'.png'" class="class-icon" alt="{{ char.class }}">
      <span class="class-name">{{ char.class }}</span>
    </div>
  </article>
</section>
<div style="clear:both;"></div>