/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #1f1d1f !important;
  background-image: url('https://mastertom.nl/img/3px-tile.png') !important;
  font-family: Calibri;
}
h1 {
  font-size: 3em;
}
h1,
h2,
h5 {
  font-weight: 100;
  color: #f2d16b;
  font-family: 'Pirata One', sans-serif;
}

.chapterIcon {
  height: 32px;
  padding-right: 10px;
}

h5 {
  font-size: 1.5rem;
  line-height: 2em;
}

.party span {
  margin-left: -6px;
}
.party img {
  height: 48px;
}

.add-button .material-icons {
  color: white;
  font-size: 36px;
}
